.page-node-type-memory {

   .field--name-field-date {
      font-style: italic;
      margin-bottom: 1em;
      border-bottom: 1px solid $brand-primary;
      padding-bottom: 1em;
   }

   .field--name-field-image {
      margin-bottom: 1em;
   }

   .page-header {
      text-align: left;
      padding-bottom: 0;
      border-bottom: 0;
      margin: .5em 0;
   }

   .is-unpublished {
      background-color: #ffffff
   }

   .footer {
      margin-top: 1em;
   }
}
