body {
  font-family: 'Roboto', sans-serif;
  color: $brand-primary;
}

.main-container {
  max-width: 768px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', Georgia, serif;
}

.menu--account a,
.navbar-brand,
.navbar-text {
  color: $brand-primary;
  font-family: 'Merriweather', Georgia, serif;
}

.menu--account {
   display: flex;
   align-items: center;
   justify-content: center;

   li {
      padding-left: 10px;
      padding-right: 10px;
      max-width: 50%;

      a {
         &:hover,
         &:focus {
            background-color: $brand-tertiary;
         }
      }
   }

   li.first a {
      display: block;
      line-height: 0;
      font-size: 0;
      color: transparent;
      display: block;
      background: url(../images/home.png) no-repeat 2px center;
      width: 35px;
      height: 35px;

      &:hover,
      &:focus {
         background-color: $brand-tertiary;
      }
   }
}

.branding-block {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 2em;
   color: $brand-primary;

   a img {
      max-width: 150px;
   }

   .navbar-brand {
     font-size: 60px;
     float: none;
     z-index: 1;
     color: lighten($brand-primary, 25%);

     &:hover {
        color: $brand-primary;
     }

     span {
       color: $brand-primary;

       &:hover {
          color: lighten($brand-primary, 25%);
       }
     }
   }

   .navbar-text {
     font-size: 18px;
     float: none;
     text-align: center;
   }
}

.region-header {
   padding-top: 2em;
}

.menu--account {
   font-size: 14px;
   display: flex
}

.page-header,
.highlighted {
  margin-top: 2em;
}

.page-header {
  margin-top: 1em;
  border-bottom-color: $brand-decoration;
}

.nav-tabs {
   border-bottom: 0;
   font-family: 'Merriweather', Georgia, serif;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1em;

   li,
   li.active {
      float: none;
      max-width: 50%;
      margin-bottom: 0;

      &:first-child {
         display: none;
      }

      a {
         border-radius: 0;
         padding: 10px 15px;
         text-decoration: underline;
         border: 0;
         margin-right: 0;

         &:hover,
         &:focus {
            background-color: $brand-tertiary;
            text-decoration: none;
            outline: 0;
            border: 0;
         }
      }
   }
}
