.path-frontpage {

   .page-header {
      text-align: center;
   }

   .jumbotron {
      padding: 10px !important;
      max-width: 300px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0;

      img.image-memory--add {
         width: 50px;
      }

      p {
         font-size: 12px;
      }

      .outro p {
         color: $brand-primary;
         text-decoration: underline;

         &:hover,
         &:focus {
            text-decoration: none;
         }
      }
   }

   .add-widget {
      margin-bottom: 20px;
      text-align: center;

      img.image-memory--add {
         width: 50px;
      }
      p {
        color: $brand-primary;
        font-size: 12px;
     }
   }

   .timeline-list {
      font-family: 'Merriweather', Georgia, serif;

      a.memory-link {
         transition: transform .15s linear;
         box-shadow: 0 3px 6px rgba(0,0,0,.25);
         background: #ffffff;
         float: left;
         width: auto;
         padding: 10px 10px 15px;
         text-decoration: none;
         color: $brand-primary;

         &:after {
            content: attr(title);
            font-size: 20px;
            display: block;
         }

         &:hover {
            position: relative;
            z-index: 5;
            box-shadow: 0 3px 6px rgba(0,0,0,.5);
         }

         time {
            font-style: italic;
            font-size: 12px;
         }
      }
   }

   .timeline-list li.even {

      a.memory-link {
         transform: rotate(2deg);

         &:hover {
            transform: scale(1.25);
            margin-right: 2em;
         }
      }
   }

   .timeline-list li.odd {

      a.memory-link {
         transform: rotate(-2deg);

         &:hover {
            transform: scale(1.25);
            margin-left: 2em;
         }
      }
   }

   .timeline-list li:nth-child(5n) a {
     -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
     position: relative;
     right: 5px;

     &:hover {
        transform: scale(1.25);
     }
   }

   .timeline-list li:nth-child(8n) a {
     position: relative;
     top: 8px;
     right: 5px;

     &:hover {
        transform: scale(1.25);
     }
   }

   .timeline-list li:nth-child(11n) a {
     position: relative;
     top: 3px;
     left: -5px;

     &:hover {
        transform: scale(1.25);
     }
   }

   ul.timeline-list:after {
      background-color: $brand-primary;
   }

   ul.timeline-list li.timeline-item .timeline-item-wrapper span.timeline-marker {
      border-color: $brand-primary;
   }
}
